@import '../vars/colors';

.vp {
  &-bg {
    &--lightest { background-color: $themeLightest; }
    &--ground { background-color: $themeGround; }
    &--lighter { background-color: $themeLighter; }
    &--lighter-stain { background-color: $themeLighterStain; }
    &--lighter-screen { background-color: $themeLighterScreen; }
    &--light { background-color: $themeLight; }
    &--light-stain { background-color: $themeLightStain; }
    &--light-screen { background-color: $themeLightScreen; }
    &--medium { background-color: $themeMedium; }
    &--medium-stain { background-color: $themeMediumStain; }
    &--medium-screen { background-color: $themeMediumScreen; }
    &--dark { background-color: $themeDark; }
    &--dark-stain { background-color: $themeDarkStain; }
    &--dark-screen { background-color: $themeDarkScreen; }
    &--darker { background-color: $themeDarker; }
    &--darker-stain { background-color: $themeDarkerStain; }
    &--darker-screen { background-color: $themeDarkerScreen; }
    &--darkest { background-color: $themeDarkest; }

    &-primary {
      background-color: $themePrimary;
      &-light { background-color: $themePrimaryLight; }
      &-dark { background-color: $themePrimaryDark; }
    }
    &-pos {
      background-color: $themeAffirm;
      &-light { background-color: $themeAffirmLight; }
      &-dark { background-color: $themeAffirmDark; }
    }
    &-alert {
      background-color: $themeAlert;
      &-light { background-color: $themeAlertLight; }
      &-dark { background-color: $themeAlertDark; }
    }
    &-alarm {
      background-color: $themeAlarm;
      &-light { background-color: $themeAlarmLight; }
      &-dark { background-color: $themeAlarmDark; }
    }
  }
  &-tx, &-icon {
    &-lightest { color: $themeLightest; }
    &-lighter { color: $themeLighter; }
    &-ground { color: $themeGround; }
    &-light { color: $themeLight; }
    &-medium { color: $themeMedium; }
    &-dark { color: $themeDark; }
    &-darker { color: $themeDarker; }
    &-darkest { color: $themeDarkest; }

    &-primary {
      color: $themePrimary;
      &-light { color: $themePrimaryLight; }
      &-dark { color: $themePrimaryDark; }
    }
    &-affirm {
      color: $themeAffirm;
      &-light { color: $themeAffirmLight; }
      &-dark { color: $themeAffirmDark; }
    }
    &-alert {
      color: $themeAlert;
      &-light { color: $themeAlertLight; }
      &-dark { color: $themeAlertDark; }
    }
    &-alarm {
      color: $themeAlarm;
      &-light { color: $themeAlarmLight; }
      &-dark { color: $themeAlarmDark; }
    }
    &-inverse {
      color: $themeLightScreen;
    }
  }
}