@import '../vars/colors';
@import '../vars/metrics';

.vp {
  &-navbar {
    background-image:
      radial-gradient(circle farthest-corner at 40% 70%, rgba(128, 255, 255, 0.15), transparent),
      radial-gradient(circle farthest-corner at 60% 30%, rgba(255, 128, 255, 0.15), transparent);
    margin: 0 0 $gutterWidth;
    padding: $gutterWidth;
    &--primary { background-color: $themeDarkest; color: $themeLightest; }
    &--pos { background-color: $themeAffirm; color: $themeLightest; }
    &--alert { background-color: $themeAlert; color: $themeLightest; }
    &--alarm { background-color: $themeAlarm; color: $themeLightest; }
    &--inverse { background-color: $themeDarkest; color: $themeLight; }
  }
  &-navbar-brand {
    font-size: 1em;
    margin: 0;
    &, & * { text-decoration: none; }
  }
}