@import '../vars/colors';
@import '../vars/metrics';

.vp {
  &-tile {
    background-color: $themeLightest;
    box-shadow: 0 1px $themeLightStain, 0 -1px $themeLightStain;
    list-style: none;
    padding: $gutterWidth;
    margin: 0;
    &--primary { background-color: $themePrimary; color: $themeMediumScreen; }
    &--pos { background-color: $themeAffirm; color: $themeMediumScreen; }
    &--alert { background-color: $themeAlert; color: $themeMediumScreen; }
    &--alarm { background-color: $themeAlarm; color: $themeMediumScreen; }
    &--inverse { background-color: $themeDarkest; color: $themeMediumScreen; }
    &--muted { background-color: $themeLight; }
    & > :first-child { margin-top: 0; }
    & > :last-child { margin-bottom: 0; }
    &--small {
        padding: $gutterWidth / 2 $gutterWidth;
    }
  }
  &-escape {
    margin: -$gutterWidth;
  }
}